@font-face {
  font-family: Almarai-Bold;
  src: url('../../font/almarai/Almarai-Bold.ttf');
}

.wrap-login-page{
  position: relative;
  background-image: url('../../resources//images/background.jpg');
  height: 100vh;
  background-size: contain;

  .wrap-form{
    width: 350px;
    position: absolute;
    right: 0;
    width: 500px;
    height: 100vh !important;
    height: auto;
    background: #A5B4FC;
    border-top-left-radius:30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

    .erp-logo{
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-weight: bold;
      font-family: Almarai-Bold;
    }

    .login-form{
      width: 350px !important;
      max-width: 350px !important;
      margin: 0 auto;
      position: inherit;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}