.wrap-avatar{
  position: absolute;
  top: 15px;
  right: 50px;
}

.log-out-icon{
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 15px;
}

.logo {
  font-size: 25px;
    height: 32px;
    margin: 16px;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
    color: #fff;
}

.site-layout-background {
  background: #fff;
}